
<div class="modal fade" id="editModal-<%= position.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-table modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <%= position.title %> </h5>&emsp;<span> <%= position.job_applications.count %><i class="fas fa-user"></i></span>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  style="height:600px; width:auto; overflow-y:scroll; scrollbar-base-color:#99ff66 ; scrollbar-arrow-color:#ff0000;" >
        <table>
        <tr>
          <th>Name</th>
          <th>Video Score</th>
          <th>Status</th>
          <th>Interview Date</th>
        </tr>

       <% position.job_applications.order(status: :asc).order(video_score: :desc).each do |job_application| %>

      <tr>
       <td class="td-name">
      <%= link_to job_application.candidate_name, job_application_path(job_application) %>
      </td>

      <td class="td-score"><%= job_application.video_score %></td>
      <td class="td-status"><%= job_application.status %></td>
      <% if job_application.interview_date.present? %>
        <td class="td-date"><%= job_application.interview_date.strftime("%Y/%m/%d") %></td>
      <% else %>
        <td class="td-date">N/A</td>
      <% end %>
    </tr>

    <% end %>

     </table>
      </div>
     </div>
    </div>
</div>





