<section class ="content-area">
<div class="heading">
<h1>Vacant positions:<%= @positions.count %></h1>
<div class = "head-row">
<div class='date'><span class="far fa-calendar-check"></span>&thinsp;<span id="dtText"> </span></div>
<a data-toggle="modal" data-target="#positionModal"><i class="fas fa-plus-circle"></i>&thinsp;Add position</a>
<%= render "create_position" %>
</div>
</div>

<div class="cards">
  <% @positions.each do |position| %>
  <div class="card">
  <div class="card-title">
    <% if (position.due_date - Time.now  ).to_i / (24 * 60 * 60) > 60  %>
      <span class="far fa-smile"></span><strong><%= position.title %><% if policy(position).show? %><%= link_to position.title, position_path(position) %><% end %></strong>
     <% elsif (position.due_date - Time.now  ).to_i / (24 * 60 * 60) < 10   %>
     <span class="far fa-frown"></span><strong><%= position.title %><% if policy(position).show? %><%= link_to position.title, position_path(position) %><% end %></strong>
     <% else %>
     <span class="far fa-meh"></span><strong><%= position.title %><% if policy(position).show? %><%= link_to position.title, position_path(position) %><% end %></strong>
     <% end %>
  </div>
    <div class="card-head">
      <div class="card-row-info">
        <div class="card-info">recruitment: <%= position.target_hire_number  %><i class="fas fa-user"></i></div>
        <div class="card-duedate">Due:<%= position.due_date.strftime("%b %d %Y") %></div>
      </div>
      <div class="card-row-info">
        <div class="card-info">applications: <%= position.job_applications.count %><i class="fas fa-user"></i></div>
        <div class="card-info"><%= link_to 'Score Setting', position_skill_requirement_edit_all_path(position)%></div>
      </div>
    </div>
    <hr>
      <% position.job_applications.order(status: :asc).order(video_score: :desc).first(3).each do |job_application| %>
      <div class="candidates-info" data-controller = "refresh">
      <div class="name">
        <i class="fas fa-angle-right"></i><%= link_to job_application.candidate_name, job_application_path(job_application) %>
       </div>
       <!-- <div class="score"><%= job_application.video_score %></div> -->
      <div class="status">
        <% if job_application.interview_date.present? %>
          <%= job_application.interview_date.strftime("%b %d %Y %H:%M")%>
        <% else %>
          <% if job_application.status == "processing" %><i class="fas fa-cog fa-spin"></i><% end %><%= job_application.status %>
        <% end %>
      </div>
      </div>
    <% end %>

    <div class="btn-seeall"><a  data-toggle="modal" data-target="#editModal-<%= position.id %>">See all&thinsp;<i class="fas fa-angle-right small"></i></a></div>
    <%= render :partial => "job_applications", :locals => {:position => position} %>
  </div>
  <% end %>
  </div>
</section>

