<%= render 'shared/sidebar_tp' %>
<section class ="content-area right-align-area">
<div class= "d-flex align-items-center justify-content-between">
<div class="heading" id="score" ><h1 style = "margin-bottom:24px;">Score Setting</h1></div>
  <div class= "head-row-select">
    position:&thinsp;
      <select id="select-position-edit">
        <% Position.all.each do |position| %>
        <option value = <%= position.id %> <% if position.id == @position.id  %><%= selected="selected" %><% end %>><%= position.title %></option>
        <% end %>
      </select>
  </div>
</div>
<light style="font-size:14px;color:#004572;">The expected score of each skill will be used for the screening interview analysis.</light>
<hr>
 <div class="score-grid"><h4>Current Passing Score:<b style="color:#012d4a;"><%= @passing_score %>/100</b><small>pt</small></h4></div>
<%= simple_form_for :skill_requirement, :url => position_skill_requirement_update_all_path, :html => { :method => :patch , class: 'skill-form'}, remote: true do %>
 <table class = "score-edit-table">
    <tr>
      <th>Skill Name&thinsp;</th>
      <th>Expected score</th>
    </tr>
    <% @skill_requirements.each do |skill_requirement| %>
     <tr>
      <td class="skill-name"><%= skill_requirement.category.name %></td>
      <%= simple_fields_for "skill_requirement[]", skill_requirement do |sr_fields| %>
      <td class="range-slider"><%= sr_fields.text_field :minimum_score, class: 'range-slider__range', type: 'range', min:0, max: 10, step:1, onchange: 'Rails.fire(this.form, "submit")' %><span class="range-slider__value"><%= skill_requirement.minimum_score * 10 %></span> </td>
    </tr>
      <% end %>
    <% end %>
  </table>
  <div class="actions button-edit-score">
  <%= button_tag :type => "submit", data: { toggle: "modal" , target: "#exampleModalCenter" } do %>
Save the Score
  <% end %>
  <%= render 'redirect' %>
  </div>

<% end %>
</section>

