<% if user_signed_in? %>
<div class="wrapper">
 <div class="sidebar">

    <%= image_tag "sidebar_logo.png" %>

  <ul>
  <li id ="positions"><i class="fas fa-users"></i><%= link_to 'Applications', positions_path %></a></li>
  <li id="schedule"><i class="fas fa-calendar-alt"></i><a href="">Schedule</a></li>
  <li id ="setting">
   <i class="fas fa-user-cog"></i><span>Setting</span><span class="fas fa-caret-down toggle-down"></span>
</li>
  <ul class="sub-menu">
      <li><i class="fas fa-envelope-open-text"></i> <%= link_to 'Templates', email_templates_path %></li>
      <li><i class="fas fa-sliders-h"></i><%= link_to 'Scoring', position_skill_requirement_edit_all_path(1) %></li>
      <li><i class="fas fa-book-open"></i><%= link_to 'Questions', category_questions_path(1) %></li>
  </ul>

 </ul>
 </div>
</div>

<% end %>

