<%= render 'shared/sidebar_tp' %>
<section class ="content-area">
<div class="heading">
<h1>Manage templates</h1>
<div class = "head-row">
<div class='default'><span class="far fa-folder"></span> Default
</div>
</div>
</div>

<div class="cards">

  <% @email_templates.each do |email_template| %>
  <div class="card">
    <div class="card-cat">

    <span class="<%= case email_template.name
      when 'Accepted' then
      'fas fa-check'
      when 'Rejected' then
      'fas fa-times'
      when 'Past-due' then
      'fas fa-circle-notch'
      end %>"></span>&thinsp;<%= email_template.name %></div>

    <div class="subject">Subject:<%= email_template.subject %></div>
    <hr>
    <div class="body">Body:<%= email_template.body %></div>
  </div>
  <% end %>
</section>
